<div id='' title='' user=''>\
  <div class='box box-info direct-chat direct-chat-info ui-widget-content'>\
    <div class='box-header with-border'>\
      <h3 class='box-title'>" + user + "</h3>\
      <div class='box-tools pull-right'>\
        <span data-toggle='tooltip' title='3 New Messages' class='badge bg-blue'>3</span>\
        <button class='btn btn-box-tool' data-toggle='tooltip' title='Contacts' data-widget='chat-pane-toggle'><i class='fa fa-comments'></i></button>\
      </div>\
    </div>\
    <div class='box-body'>\
      <div class='direct-chat-messages'>\
        <div class='direct-chat-msg'>\
          <div class='direct-chat-info clearfix'>\
            <span class='direct-chat-name pull-left'>Alexander Pierce</span>\
            <span class='direct-chat-timestamp pull-right'>23 Jan 2:00 pm</span>\
          </div>\
          <img class='direct-chat-img' src='templates/AdminLTE/dist/img/user1-128x128.jpg' alt='message user image' />\
          <div class='direct-chat-text'>\
          Is this template really for free? That's unbelievable!\
          </div>\
        </div>\
        <div class='direct-chat-msg right'>\
          <div class='direct-chat-info clearfix'>\
            <span class='direct-chat-name pull-right'>Sarah Bullock</span>\
            <span class='direct-chat-timestamp pull-left'>23 Jan 2:05 pm</span>\
          </div>\
          <img class='direct-chat-img' src='templates/AdminLTE/dist/img/user3-128x128.jpg' alt='message user image' />\
          <div class='direct-chat-text'>\
            You better believe it!\
          </div>\
        </div>\
      </div>\
      <div class='direct-chat-contacts'>\
        <ul class='contacts-list'>\
          <li>\
            <a href='#'>\
              <img class='contacts-list-img' src='templates/AdminLTE/dist/img/user1-128x128.jpg' alt='Contact Avatar'/>\
              <div class='contacts-list-info'>\
                <span class='contacts-list-name'>\
                  Count Dracula\
                  <small class='contacts-list-date pull-right'>2/28/2015</small>\
                </span>\
                <span class='contacts-list-msg'>How have you been? I was...</span>\
              </div>\
            </a>\
          </li>\
        </ul>\
      </div>\
    </div>\
    <div class='small-box-footer'>\
      <div id='iswriting' class='pull-right'>\
        <i class='fa fa-pencil'></i>\
        <small id='iswriting-text'>Bla is writing...</small>\
      </div>\
      <div id='progressbar-char' class='pull-left'></div>\
      <textarea id='textarea_msg' class='form-control' name='message' placeholder='Type Message ...'></textarea>\
    </div>\
  </div>\
</div>