<div id='options-panel' class='ui-widget-content' title='' style='display: none;'>
  <div id='options-accordion'>
    <h3 id='option-main'></h3>
    <div id='format'>
      <label id='sounds-label'></label>
        <div class='main-right'>
          <input type='radio' id='radioenabled' name='radio' checked /><label for='radioenabled'></label>
          <input type='radio' id='radiodisabled' name='radio' /><label for='radiodisabled'></label>
        </div>
      <div><br />
        <label id='themes-label'></label>
        <div class='main-right'>
          <select id='theme-custom'></select>
        </div>
      </div>
    </div>
    <h3 id='lang'></h3>
    <div>
      <select id='i18n'></select>
    </div>
  </div>
</div>